.SubSer{
    float: left;
    text-align: center;
    width: 50%;
    padding-top: 20px;
}
.subSer{
    float: left;
    text-align: center;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}